/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CUSTOM STYLES */

/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: min-content 1fr;
    width: 80vw;
    margin-left: 10vw;
    margin-right: auto;
    margin-top: 5vh;
    gap: 10px;
    background-color: #F4F3EE;
    font-family: "Montserrat", sans-serif;

    button {
        background-color: #fff;
        color: black;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, color 0.3s;
        padding: 5px 10px;
    }
    button:hover {
        background-color: #CB997E;
        cursor: pointer;
    }

    /* div {
        border: 1px solid black;
        padding: 10px;
        box-sizing: border-box;
    } */

    .title-bar {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3rem;
            padding: 20px;
        }
    }
    .main {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        .button-section {
            display: flex;
            justify-content: center;

            button {
                padding: 10px 30px;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
    .sidebar {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;

        button {
            align-self: center;
        }

        #form-container {
            width: 100%;
        }

        .hidden {
            display: none;
        }
    }

    #book-form {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 1rem;
        }

        input[type="text"], input[type="number"] {
            padding: 5px;
            font-size: 1rem;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
            margin-left: 10px;
        }

        button {
            padding: 10px;
            font-size: 1rem;
            cursor: pointer;
        }

        .checkbox-container {
            display: flex;
            align-items: start;
        }
    }
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    color: #F4F3EE;

    h2 {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-bottom: 5px;
    }

    .book {
        padding: 10px;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: black;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .buttons-div {
            margin-top: auto;
            display: flex;
            gap: 10px;
            flex-direction: column;
        }
    }
}